.app-list {
    margin-top: 30px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.not-found {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: black;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
}